{
	"presets": [
		[
			"env", 
			{
				"targets": {
					"browsers": [
						"last 2 versions",
						"ie >= 9",
						"safari >= 7",
						"iOS >= 8",
						"Android >= 4.1"
					],
					"node": "current"
				}
			}
		]
	],
	"plugins": [
		"babel-plugin-transform-flow-strip-types"
	]
}