{
	"presets": [
		"@babel/preset-react",
		[
			"@babel/preset-env",
			{
				"targets": {
					"browsers": [
						"last 2 versions",
						"ie >= 9",
						"safari >= 7",
						"iOS >= 10",
						"Android >= 4.1"
					],
					"node": "current"
				}
			}
		]
	],
	"plugins": [
		"babel-plugin-transform-flow-strip-types",
		"transform-object-rest-spread"
	]
}
